$colorMap: (
  "red": #ff4b04,
  "yellow": #ffc602,
  "green": #98df00
);
$yellow: #ffc600;
$yellow_dark: darken(saturate($yellow, 100%), 10%);
$mobile-width: 767px;

@mixin box-shadow ($value) {
  box-shadow: $value;
  -moz-box-shadow: $value;
  -webkit-box-shadow: $value;
}

@mixin border-radius ($value) {
  border-radius: $value;
  -moz-border-radius: $value;
  -webkit-border-radius: $value;
}

@mixin transition ($value) {
  transition: $value;
  -moz-transition: $value;
  -webkit-transition: $value;
}

@mixin transform ($value) {
  transform: $value;
  -moz-transform: $value;
  -webkit-transform: $value;
}

@mixin media ($value) {
  @media only screen and (max-width: $value) {
    @content;
  }
}

@mixin terminal-control ($name) {
  &.#{$name} {
    background: map-get($colorMap, $name);

    &:hover {
      background: lighten(map-get($colorMap, $name), 15%);
      border: 1px solid lighten(map-get($colorMap, $name), 25%); //TODO: Revisit this
      cursor: pointer;
    }
  }
}
