#footer {
  padding-bottom: 30px;

  .container {
    hr {
      height: 0;
      border: none;
      border-top: 1px solid #ffc600;
      border-bottom: 1px solid #efa900;
      margin: 25px 0;
      @include border-radius(50%);
    }

    ul {
      list-style-type: none;
      display: flex;
      justify-content: center;

      li {
        padding: 0 15px;

        a {
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;
          font-size: 14px;
          color: #222;
          text-decoration: none;
          text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.15);

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}