@import "_variables";

#header {
  $header-height: 200px;
  $header-offset: 50px;

  width: 100%;
  height: $header-height;
  background: url('../images/header_bg.jpg') no-repeat;
  background-size: cover;
  background-position: top center;
  margin-bottom: $header-offset;

  .container {
    height: $header-height;
    display: flex;
    justify-content: center;

    .profile_picture {
      width: 200px;
      height: 200px;
      background: url('../images/dima.png') no-repeat;
      background-size: cover;
      border: 7px solid #fff;
      margin-top: $header-offset;
      @include box-shadow(0 3px 3px 1px rgba(0, 0, 0, 0.15));
      @include border-radius(50%);
    }

    .profile_name {
      display: block;
      align-self: flex-end;
      font-family: "Montserrat", sans-serif;
      font-weight: 800;
      font-size: 45px;
      color: #fff;
      text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
      margin-left: 30px;
      padding-bottom: 15px;

      .subheading {
        font-size: 14px;
        font-weight: 300;
        padding: 2px;
      }
    }
  }
}