@import "_reset";
@import "_variables";

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,800,Roboto+Mono:200,400");

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-image: radial-gradient($yellow 25%, $yellow_dark);
}

.container {
  width: 768px;
  margin: 0 auto;
  padding: 0 25px;

  @include media($mobile-width) {
    width: 100%;
  }
}

.main {
  margin-top: 90px;

  @include media($mobile-width) {
    margin-top: 30px;
  }
}
