@import "_variables";

#terminal {
  width: 100%;
  height: 460px;
  background: #333;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  opacity: 0;
  @include transition(all 0.5s ease-in-out);
  @include transform(scale(0.8));
  @include border-radius(7px);
  @include box-shadow(0 3px 25px rgba(255, 255, 255, 0.25));

  &.visible {
    opacity: 1;
    transform: scale(1);
  }

  .heading {
    width: 100%;
    height: 38px;
    background: #222;
    display: flex;

    .controls {
      height: 100%;
      padding: 0 10px;
      align-items: center;
      display: flex;

      div {
        width: 11px;
        height: 11px;
        @include border-radius(50%);

        &:not(:last-child) {
          margin-right: 8px;
        }

        @include terminal-control("red");
        @include terminal-control("orange");
        @include terminal-control("green");
      }
    }

    .title {
      height: 38px;
      line-height: 38px;
      color: #656565;
      font-size: 13px;
      text-align: center;
      flex-grow: 1;
      font-family: 'Montserrat', sans-serif;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
      padding-right: 70px;
    }
  }

  .content {
    padding: 12px 10px;
    font-size: 15px;
    color: #fff;
    line-height: 24px;
    font-family: 'Roboto Mono', sans-serif;
    font-family: 400;
    overflow: auto;
    flex: 1;

    .step {
      &.step3 {
        font-size: 16px;
        font-weight: 200;
        padding: 20px 15px;
        font-style: italic;
      }

      .tab {
        display: inline-block;
        width: 30px;
      }

      .directory {
        color: #f1ac00;
      }

      .branch {
        color: #98df00;
        font-style: italic;
      }
    }
  }
}