@import "_variables";

#terminal {
  width: 100%;
  height: 450px;
  background: #333;
  border-radius: 7px; //TODO: mixin
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15); //TODO: mixin

  .heading {
    width: 100%;
    height: 38px;
    background: #222;
    display: flex;

    .controls {
      height: 100%;
      padding: 0 10px;
      align-items: center;
      display: flex;

      div {
        width: 11px;
        height: 11px;
        border-radius: 50%; //TODO: mixin

        &:not(:last-child) {
          margin-right: 8px;
        }

        //TODO: Convert these into a function like getButton('red');
        &.red {
          background: $color-red;

          &:hover {
            background: lighten($color-red, 10%);
            cursor: pointer;
          }
        }

        &.orange {
          background: $color-orange;

          &:hover {
            background: lighten($color-orange, 10%);
            cursor: pointer;
          }
        }

        &.green {
          background: $color-green;

          &:hover {
            background: lighten($color-green, 10%);
            cursor: pointer;
          }
        }
      }
    }

    .title {
      height: 38px;
      line-height: 38px;
      color: #555;
      font-size: 13px;
      text-align: center;
      flex-grow: 1;
      font-family: 'Montserrat', sans-serif;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1); //TODO: mixin
      padding-right: 70px;
    }
  }

  .content {
    padding: 12px 10px;
    font-size: 14px;
    color: #fff;
    line-height: 24px;
    font-family: 'Cousine', sans-serif;

    .step {
      &.step3 {
        font-size: 16px;
        padding: 10px 15px 20px;
        font-style: italic;
      }

      .tab {
        display: inline-block;
        width: 40px;
      }

      .directory {
        color: #f1ac00;
      }

      .branch {
        color: #98df00;
        font-style: italic;
      }
    }
  }
}